@model IEnumerable<OnlineQuiz.Models.QuizCategory>

@{
    ViewData["Title"] = "ChooseQuizCategory";
}

<h1>Choose Quiz Category</h1>

@foreach(var quizCategory in Model)
{
    <li>
        <a asp-controller="Quiz" asp-action="StartQuiz" asp-route-quizCategoryId="@quizCategory.QuizCategoryId" asp-route-quizCategoryName="@quizCategory.QuizCategoryName">Start @quizCategory.QuizCategoryName Quiz</a>

    </li>
}
