@model AdminViewModel

@{
    ViewData["Title"] = "ViewQuizResult";
}

<h1>ViewQuizResult</h1>

<div class="container">
    <a class="btn btn-dark" asp-action="Index">Return</a>
</div>
@{
    await Html.RenderPartialAsync("_QuizResultPartial", Model);
}
<script>
    function navigateToSelectedPage() {
        var pageNumber = $("#page-selector").val();
        $.ajax({
            url: "/Admin/ViewQuizResults",
            data: { pageNumber: pageNumber },
            type: "GET",
            success: function (data) {
                // update the view with the new data
                $("#data-container").html(data);
            }
        });
    }
    function navigateToPreviousPage() {
        var pageNumber = $("#page-selector").val();
        if (pageNumber > 1) {
            pageNumber--;
            $("#page-selector").val(pageNumber);
            $.ajax({
                url: "/Admin/ViewQuizResults",
                data: { pageNumber: pageNumber },
                type: "GET",
                success: function (data) {
                    // update the view with the new data
                    $("#data-container").html(data);
                }
            });
        }
    }
    function navigateToNextPage() {
        let pageNumber = $("#page-selector").val();
        if (pageNumber < @Model.TotalPages) {
            pageNumber++;
            $("#page-selector").val(pageNumber);
            // navigate to the next page
            $.ajax({
                url: "/Admin/ViewQuizResults",
                type: "GET",
                data: { pageNumber: pageNumber },
                success: function (data) {
                    // update the view with the new data
                    $("#data-container").html(data);
                }
            });
        }
    }
</script>