@model Users

@{
    ViewData["Title"] = "Login";
}

<h1 class="d-flex justify-content-center">Login</h1>
@if (User.Identity is not null && User.Identity.IsAuthenticated)
{
    <p>You have already login!</p>
}
else
{
    <hr />
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-sm-6">
                <form method="post" asp-action="Login" class="form-control mx-auto w-75">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group row my-3">
                        <div class="col-sm-3 my-3">
                            <label asp-for="UserName" class="control-label justify-content-end"></label>
                        </div>
                        <div class="col-sm-9 my-3">
                            <input asp-for="UserName" class="form-control" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row my-3">
                        <div class="col-sm-3 my-3">
                            <label asp-for="Password" class="control-label"></label>
                        </div>
                        <div class="col-sm-9 my-3">
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>    
                    </div>
                    <div class="d-flex my-3">
                        <input type="submit" value="Login" class="btn-primary mx-auto">
                        <input type="submit" value="Register" asp-asp-controller="Account" asp-action="Register" class="btn-primary mx-auto" formmethod="get">
                    </div>
                </form>
            </div>            
        </div>
    </div>
}



